In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]], index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

In [3]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [4]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [33]:
df.loc[['viper']]

       max_speed  shield
viper          4       5

In [30]:
df[['max_speed']]

            max_speed
cobra               1
viper               4
sidewinder          7

In [7]:
df2 = pd.DataFrame([[1, 2], [4, 5], [7, 8]], index=['3', '1', '5'],
     columns=['max_speed', 'shield'])

In [8]:
df2

   max_speed  shield
3          1       2
1          4       5
5          7       8

In [9]:
df2.loc['5']

max_speed    7
shield       8
Name: 5, dtype: int64

In [38]:
df.loc[['viper'], 'kok']=4

In [15]:
df.loc['cobra', 'shield']

2

In [17]:
df.loc['cobra':'sidewinder', 'max_speed']

cobra         1
viper         4
sidewinder    7
Name: max_speed, dtype: int64

In [36]:
df.iloc[[True, True]]

       max_speed  shield
cobra          1       2
viper          4       5

In [23]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [25]:
df['shield'] < 6

cobra          True
viper          True
sidewinder    False
Name: shield, dtype: bool

In [35]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [39]:
df

            max_speed  shield  kok
cobra               1       2  NaN
viper               4       5  4.0
sidewinder          7       8  NaN